<div class="col-sm-9 col-md-10 " style="margin-bottom: 50px; ">
  <h1 class="page-header">All Movies I follow</h1>
  <div class="row">
      <% @movies_following.each do |movie| %>
      <div class="col-md-2" style="margin-bottom: 30px">
          <%= image_tag movie.image %>
          <h3><%= movie.title %></h3>
          <p><%= movie.release_year %></p>
          <%= link_to "Learn more", movie_path(movie) %>
      </div>
      <% end %>
  </div>
</div>
  