<!-- Display an actor's info here -->
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="<%= @actor.image %>" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= @actor.bio %></h3>
  </div>
</div>