<!-- Display an actor's info here -->
<div class="row">
  <div class="col-md-2" style="margin-bottom: 30px">
      <%= image_tag @actor.image  %>
      <h3><%= @actor.first_name %> <%= @actor.last_name %> </h3>
      <p> <%= @actor.bio %> </p>
  </div>
</div>