<div class="row">
 <% @actors.each do |actor| %>
  <!--<div class="col-md-2" style="margin-bottom: 30px">-->
  <!--    <%#= image_tag actor.image  %>-->
  <!--    <h3><%#= actor.first_name %> <%#= actor.last_name %> </h3>-->
  <!--    <%#= link_to "Learn more", actor_path(actor) %>-->
  <!--</div>-->
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="thumbnail">
      <img src="<%= actor.image %>" alt="...">
      <div class="caption">
        <h4><%= actor.first_name %> <%= actor.last_name %></h4>
        <!--<p><%#= link_to "Learn more", actor_path(actor), class: "btn btn-primary", role: "button" %></p>-->
        <%= link_to "Learn more", actor_path(actor) %>
      </div>
    </div>
  </div>
 <% end %>
</div>