<div class="row">
 <% @actors.each do |actor| %>
  <div class="col-md-2" style="margin-bottom: 30px">
      <%= image_tag actor.image  %>
      <h3><%= actor.first_name %> <%= actor.last_name %> </h3>
      <%= link_to "Learn more", actor_path(actor) %>
  </div>
 <% end %>
</div>