<div id="filterrific_results">
    <div class="form-group btn btn-warning btn-lg btn-block">
        <%= page_entries_info @actors %>
    </div>
    <br>
    <%= render 'listActor' %>
</div>
<div class="flickr_pagination">
    <%= will_paginate @actors %>
</div>