<div class="col-sm-9 col-md-10 " style="margin-bottom: 50px; padding-left: 20px">
  <h1 class="page-header">Movie</h1>
  <%= render 'eachMovie' %>
  <h1 class="page-header">All Cast</h1>
  <%= render 'actors/listActor' %>
</div>