<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<br>
<br>
<br>

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Explore<span class="text-muted"> the lastest TV shows.</span></h2>
      <p class="lead">Click <mark><strong>"Add"</strong></mark> to follow these current trending, most famous and most followed shows. Your calendar will be updated with the shows you added. If you change your mind, just click <mark><strong>"Remove"</strong></mark></p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/assets/exploring.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">My shows. <span class="text-muted">Remember your favorite shows.</span></h2>
      <p class="lead">Display all the shows you have added/followed. <mark><strong>"Remove"</strong></mark> if it is no longer your favorite.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/assets/follow.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Calendar. <span class="text-muted">check it for yourself.</span></h2>
      <p class="lead">Did I forget to watch the latest episodes? Calendar displays your favorite Series in a timespan of 10 days!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/assets/calendar.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">All shows.</h2>
      <p class="lead"> Search, sort information of all shows on our database.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/assets/shows.jpg" alt="Generic placeholder image">
    </div>
  </div>
  
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Details of each tv serie.<span class="text-muted"> Everything you need to know.</span></h2>
      <p class="lead">Display the plot of each show, the cast, every seasons, episodes and its plot when hovering over each episode.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/assets/season.jpg" alt="Generic placeholder image">
    </div>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">All actors.</h2>
      <p class="lead"> Display all actors on our database. Having specific biography of each actor along with his/her filmography.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/assets/actors.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
  
</div><!-- /.container -->