<div class="page-header">
  <h1>Latest TV Series <small ><a href="/shows">See all >></a></small></h1>
</div>
<%= render 'movies/listMovie' %>
<div class="page-header">
  <h1>Actors <small ><a href="/actors">See all >></a></small></h1>
</div>
<%= render 'actors/listActor' %>

  
