<div class="col-sm-9 col-md-10 " style="margin-bottom: 50px; ">
  <h1 class="page-header">All Movies</h1>
  <%= render 'movies/listMovie' %>
  <h1 class="page-header">All Actors</h1>
  <%= render 'actors/listActor' %>
</div>
  
